
<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.google.com"> The Complete ruby on rails project</a>
      by <a href="http://www.google.com/"> Nafil Al Alawi</a>
    </small>
  <nav>
      <ul>
        <li><%= link_to 'Welcome', welcome_path %></li>
      </ul>
    </nav>
  </footer>
</div>
