<!-- This rendering of displaying messages is here (applicaton.html.erb) because it has to show in all the templets that's going to be created (So it should apply to all) -->

  <div class='row'>
    <div class="col-xs-offset-2 col-xs-10">
      <% flash.each do |name, msg| %>
        <div class='alert alert-<%="#{name}"%>' >
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
      <% end %>
    </div>
  </div>